#!/usr/bin/env bash

upgrade_common() {
  brew update
  brew upgrade --cleanup
  brew cu -afy
  brew cleanup
  brew cask cleanup
  npm -g update
}

upgrade_all() {
  upgrade_common
  gem update --system
  gem update --no-document
  pip3 list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 pip3 install -U
  antigen selfupdate
  antigen update
  antigen cleanup
}

# git commit browser. needs fzf
log() {
  git log --color=always --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' "$@" |
    fzf --ansi --no-sort --reverse --tiebreak=index --toggle-sort=\` \
      --bind "ctrl-m:execute:
                echo '{}' | grep -o '[a-f0-9]\{7\}' | head -1 |
                xargs -I % sh -c 'git show --color=always % | less -R'"
}

chrome() {
  /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome "$@"
}
